

spring:
  datasource:
    druid:
      username: root
      password: 12345678
      initial-size: 1
      min-idle: 1
      max-active: 20
      test-on-borrow: true
      driver-class-name: com.mysql.cj.jdbc.Driver
      url: jdbc:mysql://47.103.19.138:3306/con?serverTimezone=UTC&useUnicode=true&characterEncoding=utf-8&useSSL=false

  redis:
    database: 0
    # 192.168.124.110
    host: 47.103.19.138
    port: 6379
    password:
      pool:
        max-active: 8
        max-wait: -1
        max-idle: 8
        min-idle: 0
    timeout: 500

  kafka:
    bootstrap-servers: 47.103.19.138:9092

    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer

      batch-size: 65536
      buffer-memory: 524288


    consumer:
      group-id: 0
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer

mybatis:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.demo.entity
  configuration:
    map-underscore-to-camel-case: true


server:
  port: 8082